RewriteEngine On

    # Redirects
    RewriteRule ^блог-падел/как-построить-падельный-корт/?$ /блог/как-построить-падельный-корт [R=301,L,NE]
    RewriteRule ^блог-падел/размер-площадки-для-игры-в-падель/?$ /блог/размер-площадки-для-игры-в-падель [R=301,L,NE]
    RewriteRule ^блог-падел/каковы-типы-теннисных-кортов-падель/?$ /блог/каковы-типы-теннисных-кортов-падель [R=301,L,NE]
    RewriteRule ^блог-падел/стоимость-строительства-падель-корта-2023/?$ /блог/стоимость-строительства-падель-корта-2024 [R=301,L,NE]
    RewriteRule ^блог-падел/руководство-по-установке-падел-корта/?$ /блог/руководство-по-установке-падел-корта [R=301,L,NE]
    RewriteRule ^блог-падел/мировой-тур-по-паделу/?$ /блог/мировой-тур-по-паделу [R=301,L,NE]


RewriteRule ^(.*)$ public/$1 [L]
